* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  font-family: "Garamond";
  line-height: 1.2;
  font-weight: 400;
}

/**************************/
/* HEADER */
/**************************/

#about,
.partnership {
  scroll-margin-top: 5.27812rem;
}
.mobile-menu-button {
  display: none;
}
.mobile-nav-menu {
  display: none;
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
  z-index: 1000;
  align-items: center;
  background-color: #b99671;
  padding: 0 3.6rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
.logo {
  /* display: flex; */
  text-decoration: none;
  color: inherit;
  align-items: center;
  text-align: center;
  font-size: 2.2rem;
  /* font-weight: 400; */
}
.logo:hover {
  color: #000;
  transition: 0.5s;
}
.main-nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.main-nav-link {
  color: #000;
  background-image: linear-gradient(
    90deg,
    transparent 0.1rem,
    #6b5947 0.1rem,
    #6b5947 1rem
  );
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: background-size 300ms;
  font-size: 3.5rem;
  text-decoration: none;
}
.header-svg {
  height: 2.8rem;
  padding: 0rem 2rem;
}
.main-nav-link:hover {
  color: #000;
  transition: 0.5s;
  background-size: 100% 0.2rem;
  color: #f1f1f1;
}
/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 25.3rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #b99671;
  opacity: 0;
  height: 0; /* Initially set height to 0 */
  overflow: hidden; /* Hide overflow content */
  padding: 10px;
  box-sizing: border-box;
  font-size: 2.5rem;
  font-weight: 300;
}

/* Style for dropdown options */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 0.1rem dashed #cca985;
}

/* Change color on hover */
.dropdown-content a:hover {
  color: #f1f1f1;
  font-size: 2.5rem;
  border-bottom: solid #b99671;
}

/* Show the dropdown content when hovering over the dropdown link */
.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  height: auto; /* Allow content to take its natural height */
  transition: background-color 0.3s;
}

/**************************/
/* HERO SLIDER */
/**************************/
.slider {
  position: fixed;
  top: 25%;
  left: -150%;
  /* width: 60rem; */
  transition: left 1.5s ease;
}

.slider-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 3rem;
  color: #000;
}
.slider-content h2 {
  margin-bottom: 3rem;
}
.slider-content h3 {
  color: #b99671;
  margin-bottom: 6rem;
}
.slider.active {
  left: 10%;
}

/**************************/
/* HERO */
/**************************/
.hero-img-box {
  overflow: hidden;
}
.hero-img {
  object-fit: cover;
  transition: transform 1.5s ease;
  transform: scale(1.02);
  min-width: 100%;
  /* height: 100%; */
}
.hero-img-scaled {
  transform: scale(1.04);
}

/**************************/
/* ABOUT */
/**************************/

.about-text {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-img-box {
  overflow: hidden;
}
.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.01);
}
.about-content {
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  background-color: #b99671;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 3rem;
  place-items: center;
}
.about-text-heading {
  font-size: 5.8rem;
  padding-top: 6rem;
}
.about-desc {
  font-size: 3.5rem;
  padding-top: 6rem;
}
/**************************/
/* AREA OF PRACTICE SECTION */
/**************************/
.section-area {
  font-weight: 700;
}
.section-area h2 {
  font-size: 5.8rem;
  font-weight: 700;
  padding-bottom: 5rem;
}
.section-area p {
  font-size: 3rem;
  margin-bottom: 5rem;
  line-height: 3rem;
}
.section-area h3 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 5rem;
  line-height: 3.5rem;
}
.as-content {
  display: flex;
}
.col1,
.col2,
.col3 {
  padding: 5rem 10rem 0rem 10rem;
}
.col1 {
  width: 33.3333333%;
  background-color: rgb(185, 150, 113, 1);
  color: #fff;
}
.col1 a {
  text-decoration: underline;
  color: #fff;
}
.col1 a:hover {
  text-decoration: none;
}
.col2 {
  background: url("/img/about-img-3.jpg") center/cover no-repeat;
  color: #000;
  width: 33.3333333%;
  text-decoration: none;
  list-style: none;
  color: #b99671;
}
.col2 h3 {
  margin-bottom: 5rem;
  line-height: 3.5rem;
}
.col2 ul {
  list-style: none;
  padding-top: 6rem;
}
.col2 li {
  margin-bottom: 10%;
  font-size: 4rem;
}

.col2 a {
  text-decoration: none;
  color: #282828;
}
.col2 a:hover {
  transition: all 0.3s ease;
  color: #b99671;
}

.col3 {
  background: url("/img/about-img-1.jpg") center/cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  width: 33.3333333%;
}

/**************************/
/* PARTNERSHIP  */
/**************************/
.ps-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url("/img/partnership-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.ps-col1 {
  grid-column: 2;
  float: right;
  justify-self: center;
  padding: 5rem 5rem 5rem 0;
}
.ps-col1 h2 {
  font-size: 5.8rem;
  padding-bottom: 5rem;
}
.ps-col1 p {
  font-size: 3.5rem;
}
.ps-col1 a {
  font-size: 2.6rem;
  color: #b99671;
  float: right;
}
.ps-col1 a:hover {
  transition: all 0.4s ease;
  color: #000;
  text-decoration: none;
}
/**************************/
/* FOOTER  */
/**************************/
.fs-content {
  display: flex;
  background-color: #000;
  color: #fff;
}
.fs-info,
.fs-cta {
  width: 50%;
}

/**************************/
/* FOOTER CTA */
/**************************/
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 5rem 10rem;
}
.cta-heading {
  font-size: 6rem;
  grid-column: 1 / span2;
  padding-bottom: 4rem;
  color: #b99671;
}
.name,
.text-message {
  grid-column: 1 / span2;
  padding-bottom: 3rem;
}
.email {
  grid-column: 1;
  grid-row: 3;
  padding-bottom: 3rem;
}
.telphone {
  grid-column: 1;
  grid-row: 4;
  padding-bottom: 3rem;
}

.form-content {
  display: flex;
  flex-direction: column;
}
.cta-form label,
.cta-form input,
.cta-form p {
  font-size: 1.75rem;
  padding: 0.3rem;
}
input,
textarea {
  background-color: rgb(219, 218, 218);
  border-radius: 0.9rem;
  border-style: none;
}
.btn {
  padding: 0.7rem 0rem;
  grid-column: 2;
  width: 20rem;
  border-radius: 2rem;
  justify-self: right;
  background-color: #b99671;
  color: #fff;
  border-style: none;
  font-size: 2.3rem;
}
.btn:hover {
  background-color: #000;
  border-style: solid;
  border-color: #fff;
  transition: 0.3s ease-in-out;
}

/**************************/
/* FOOTER INFO */
/**************************/

.fs-text {
  padding: 5rem 10rem;
}
.fs-text h3,
h4 {
  color: #b99671;
}
.fs-text h3 {
  font-size: 3.1rem;
  color: #b99671;
  margin-bottom: 2rem;
}

.fs-text p {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 4.3rem;
  /* width: 70rem; */
}
.fs-text h4 {
  font-size: 2.5rem;
}
.fs-text-adress {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.zagreb {
  grid-column: 1;
}
.sibenik {
  grid-column: 2;
}
.fsphone {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  gap: 2rem;
  list-style: none;
  font-size: 2rem;
}
.fsphone h4 {
  padding-right: 0rem;
  padding-bottom: 1rem;
}
.fsphone a {
  text-decoration: underline;
  color: #fff;
  font-size: 2rem;
}
.fs-copy {
  text-align: right;
  margin-top: 4rem;
}

/* ******************************* */
/* PRACTICE AREA HTML */
/* ******************************* */

.pa-hero {
  margin-top: 4rem;
  position: relative;
}
.pa-hero-img {
  display: block;
  max-width: 100%;
  height: 40rem;
}
.pa-hero-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-28%, -63%);
  color: #000;
  font-size: 7rem;
}
.pa-content {
  display: flex;
  font-size: 2.5rem;
}
.pa-content h2 {
  padding-bottom: 7rem;
  text-align: center;
}
.pa-content p {
  padding-bottom: 2rem;
}
.pa-more {
  position: absolute;
  bottom: 2.5rem;
  right: 0;
  color: inherit;
  padding: 0 2rem 2rem 0;
  text-decoration: underline;
}
.pa-more:hover {
  transition: 0.5s ease;
  text-decoration: none;
}

.pa-col1 {
  position: relative;
  width: 25%;
  background-color: #b99671;
  color: #fff;
}
.pa-col2 {
  position: relative;
  width: 25%;
  background-color: #000;
  color: #fff;
}
.pa-col3 {
  position: relative;
  width: 25%;
  background-color: #e7e7e7;
  color: #000;
}
.pa-col4 {
  position: relative;
  width: 25%;
  background-color: #adadad;
  color: #000;
}
.pa-col1,
.pa-col2,
.pa-col3,
.pa-col4 {
  line-height: 4rem;
  padding: 8rem 5rem;
}
/* ********************************* */
/* PARTNERSHIP - PRACTICE AREA HTML  */
/* ********************************* */

/* TODO dodati slike ili ikone u kolone*/
.partnership-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0rem 10rem 7rem 10rem;
  font-size: 2.5rem;
}

.partnership-col2,
.partnership-col3,
.partnership-col4,
.partnership-col5 {
  padding: 0 3rem 0 3rem;
  text-align: center;
}
.partnership-col3,
.partnership-col4,
.partnership-col5 {
  padding: 0 3rem 0 3rem;
  border: #b99671 solid 0.1rem;
}
.partnership-col2 h2,
.partnership-col3 h2,
.partnership-col4 h2,
.partnership-col5 h2 {
  padding: 6rem 0;
}
.partnership-col2 {
  /* text-align: center; */
  grid-column: 1 / span 3;
}

/* ******************************* */
/* BUISNESS LAW HTML */
/* ******************************* */
.bl-hero {
  margin-top: 4rem;
  position: relative;
}
.bl-hero-img {
  display: block;
  max-width: 100%;
  height: 40rem;
}
.bl-hero-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-28%, -63%);
  color: #000;
  font-size: 7rem;
}

.bl-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.bl-col1,
.bl-col2,
.bl-col3,
.bl-col4,
.bl-col5,
.bl-col6 {
  /* text-align: center; */
  padding: 6rem;
  font-size: 3rem;
}
.bl-col2 h2,
.bl-col3 h2,
.bl-col4 h2,
.bl-col5 h2 {
  padding-bottom: 5rem;
  text-align: center;
}
.bl-col1 {
  grid-column: 1 / span 4;
  text-align: center;
}
.bl-col2 {
  background-color: #adadad;
}

.bl-col3 {
  background-color: #e7e7e7;
}
.bl-col4 {
  background-color: #000;
  color: #fff;
}
.bl-col5 {
  background-color: #b99671;
  color: #fff;
}
.bl-col6 {
  grid-column: 1 / span 4;
  text-align: center;
}
