* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;

  /* Only works if there is nothing absolutely positioned in relation to body */
  /* overflow-x: hidden; */
}

.header {
  /* background-color: #333333; */
  background-color: whitesmoke;
  color: #595242;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3.6rem;
}
.header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(
    to right #87ceeb
  ); /* Gradient from dark gray to your header color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow for depth */
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}
.main-nav-link,
.logo {
  text-decoration: none;
  font-size: 3rem;
  color: #595242;
}
.main-nav-link:hover,
.logo:hover {
  color: #425366;
  transition: 0.3s;
}

.logo {
  text-decoration: none;
  font-size: 4rem;
}
.hero {
  font-size: 2rem;
}

.hero-img-box {
  height: 78.5rem;
}
.hero-img {
  width: 100%; /* Set width to 100% of the container width */
  height: 100%;
  object-fit: cover; /* This will stretch the image to fill the container */
  top: 50%; /* Move the top edge to the center vertically */
  left: 50%; /* Move the left edge to the center horizontally */
}

.about {
  background-color: whitesmoke;
}
.about-text {
  padding: 3rem 45rem; /* Adjust the padding as needed */
  text-align: center;
  color: #595242;
}
.about-text-heading {
  font-size: 5rem;
  padding-bottom: 3rem;
}

.team {
  background-color: whitesmoke;
  padding: 0 3.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem; /* Adjust the gap between team member boxes */
  color: #595242;
}
.team-header {
  grid-column: 1 / span1; /* Span the entire first column */
  margin-bottom: 1rem; /* Add margin for spacing */
  text-align: center;
  font-size: 5rem;
  padding-bottom: 3rem;
}
.team-members-container {
  display: grid;
  width: 100%;
  padding: 0rem 40rem;
  grid-column: 1 / span 2;
  grid-template-columns: 1fr 1fr;
  gap: 2rem; /* Adjust the gap between team member boxes */
}
.team-member-box {
  display: grid;
  grid-template-columns: 1fr; /* One column for each member box */
  grid-template-rows: auto; /* One row for each member box */
}
.team-member {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  align-items: center;
  gap: 1rem; /* Adjust the gap between image and text */
  font-size: 2.5rem;
}

.team-member-img {
  width: 40rem;
  /* border-radius: 20%;*/
  grid-row: 2;
  width: 100%; /* Set width to 100% of the container width */
  height: 100%;
  object-fit: cover; /* This will stretch the image to fill the container */
}
.team-member-name {
  grid-column: 1 / span 2;
  justify-self: center;
}
.team-member-desc {
  grid-column: 2/3;
  grid-row: 2 / span 1;
}
.areas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: #f5f5f5; */
  /* background-color: #e6f7ff; */
  /* background-color: #c1e8e8; */
  /* background-color: #f5f5dc; */
  /* background-color: rgba(0, 0, 0, 0.016) ; */
  color: #595242;
  font-size: 2.5rem;
  padding: 3.6rem 46.6rem;
  text-align: center;
  align-content: center;
}
.areas-header {
  grid-column: 1 / span 2;
  font-size: 5rem;
}
.areas-desc-header {
  padding: 1rem 0;
}

.areas-box {
  padding: 3rem;

  display: grid;
  grid-template-columns: 1fr;
}
svg {
  width: 9rem;
}
.header {
  position: relative;
}

/* Add this to your CSS file */

.slider {
  position: fixed;
  top: 46%;
  left: -100%; /* Initially off-screen to the left */
  width: 35rem; /* Adjust the width as needed */
  height: 10rem;

  transition: left 1.5s ease; /* Animation transition */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-content {
  text-align: center;
  font-size: 3rem;
  color: #595242;
}

.slider.active {
  left: 12%; /* Bring the slider in from the left when active */
}
