* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto";
  line-height: 1;
  font-weight: 400;

  /* Only works if there is nothing absolutely positioned in relation to body */
  /* overflow-x: hidden; */
}

/**************************/
/* HEADER */
/**************************/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f8f8f8;
  background-color: rgba(255, 255, 224, 0.9);

  color: #464134;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3.6rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}
.logo-img {
  height: 4rem;
  width: 4rem;
}
.logo {
  display: flex;

  text-decoration: none;
  font-size: 2rem;
  color: #595242;
  align-items: center;
  text-align: center;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

.main-nav-link {
  font-size: 2rem;
  color: #595242;
  background-image: linear-gradient(90deg, #2c2923, #2c2923, #2c2923);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: background-size 300ms;
  text-decoration: none;
}
.main-nav-link:hover,
.logo:hover {
  color: #2c2923;
  transition: 0.5s;
  background-size: 100% 0.2rem;
}

/**************************/
/* HERO */
/**************************/
.hero {
  font-size: 2rem;
}

.hero-img-box {
  height: 78.5rem;
  transform: scaleX(-1);
}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.7);
  transition: transform 1.5s ease;
  transform: scale(1);
}
.hero-img-scaled {
  transform: scale(1.04);
}
/**************************/
/* HERO SLIDER */
/**************************/
.slider {
  position: fixed;
  top: 20%;
  left: -100%;
  width: 35rem;
  height: 10rem;
  transition: left 1.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-content {
  text-align: center;
  font-size: 3rem;
  color: #595242;
}

.slider.active {
  left: 6%;
}
/**************************/
/* HERO ABOUT */
/**************************/
.about-text {
  background-color: #f8f8f8;
  background-color: rgba(255, 255, 224, 1);

  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: auto 1fr; */
  gap: 2rem;
  padding-top: 8rem;
  padding-bottom: 0;
  text-align: center;
  color: #595242;
}
.about-text-heading {
  font-size: 5rem;
  grid-column: 1 / span 2;
  grid-row: 1;
  position: relative;
}
.about-text-heading::before,
.about-text-heading::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 80rem; /* Adjust the width of the lines as needed */
  height: 1.3px; /* Adjust the height of the lines as needed */
  background-color: #595242; /* Adjust the color of the lines as needed */
}
.about-text-heading::before {
  left: 0;
}
.about-text-heading::after {
  right: 5px;
}
.about-img-box {
  position: relative;
  width: 65rem;
  margin: 7rem 0;
  grid-column: 1 / 1; /* Adjust the grid-column value */
  grid-row: 2 / 2; /* Adjust the grid-row value to cover two rows */
  justify-self: center;
}
.about-img {
  max-width: 100%;
}
.about-img-box::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 25px;
  width: 100%;
  height: 100%;
  padding: 0rem 0rem;

  border: 1.3px solid #595242; /* Border for the frame */
  transform: rotate(2deg); /* Rotate the frame by 45 degrees */
  transform-origin: center; /* Rotate around the center */
  box-sizing: border-box; /* Ensure that the border is included in the total width and height */
}
.about-img-box::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 25px;
  width: 100%;
  height: 100%;

  border: 1.3px solid #595242; /* Border for the frame */
  transform: rotate(4deg); /* Rotate the frame by 45 degrees */
  transform-origin: center; /* Rotate around the center */
  box-sizing: border-box; /* Ensure that the border is included in the total width and height */
}

.about-desc {
  grid-column: 2 / span 1; /* Adjust the grid-column value */
  grid-row: 2; /* Ensure the description is in the second row */
  align-self: center;
  padding: 0;
}

/**************************/
/* SERVICES */
/**************************/
.areas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 2.5rem;
  padding: 7rem 30rem;
  text-align: center;
  align-content: center;
  gap: 4rem;
  color: #595242;
  /* background-color: rgba(240, 240, 240, 1);
  background-color: rgba(240, 248, 255, 1); */
  background-color: rgba(255, 255, 224, 1);
}
.areas-header {
  grid-column: 1 / span 3;
  font-size: 5rem;
  padding: 2rem;
  position: relative;
}
.areas-header::before,
.areas-header::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 75rem; /* Adjust the width of the lines as needed */
  height: 1.3px; /* Adjust the height of the lines as needed */
  background-color: #595242; /* Adjust the color of the lines as needed */
}
.areas-header::before {
  left: -30rem;
}
.areas-header::after {
  right: -30rem;
}

.areas-desc-header {
  padding: 1rem 0;
}
.areas-box {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: background-size 300ms, transform 0.5s, color 0.5s;
  border: 0.01rem solid #2c2121;
}

.areas-desc {
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-decoration: none;
  text-align: center;
  width: 35rem;
  height: 13rem;
  justify-content: center;
  align-items: center;
  color: #595242;
}
.areas-desc p {
  position: relative;
  z-index: 1; /* Ensure the text is above the gradient */
}

.areas-desc p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 54px;
  width: 58%;
  height: 2px;
  margin-bottom: -0.6rem;
  background-image: linear-gradient(90deg, #2c2923, #2c2923, #2c2923);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 300ms;
  background-position: center bottom;
}

.areas-box:hover {
  color: #2c2923;
  background-size: 100% 0.2rem;
  transform: translateY(-5px);
  box-shadow: 0px 0px 2.5rem #2c2121;
  transition: ease 0.5s;
}

.areas-box:hover .areas-desc p::after {
  background-size: 100% 2px;
}

svg {
  width: 9rem;
  grid-row: 1 / span 2;
}

/**************************/
/* CTA */
/**************************/

.cta {
  display: flex;
  justify-content: center;
}

.cta-text-box {
  width: 100%;
  max-width: 130rem; /* Adjust the max-width as needed */
  text-align: center;
}

.cta-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2rem;
}

.cta-form div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  box-sizing: border-box;
}
.surname {
  grid-column: 1/1;
}
.email {
  grid-column: 1/1;
}
.email {
  grid-column: 1/1;
}
.telphone {
  grid-column: 1/1;
}
.text-message {
  grid-column: 2/3; /* Column 2 */
  grid-row: span 4; /* Span 4 rows */
}
.btn--form {
  width: 100%;
  height: 3rem;
  background-color: #007bff; /* Change the color as needed */
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
  grid-column: 2/3;
}
